
body{
	background-color: #eaeaea;
}
#divT{
	background-color: white;
	margin-top: 2%;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 5%;
}
#divI{
	background-color: white;
}
#finalD{
	background-color: #34495e;
}
